.footer {
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(135deg, #231937, #040611, #030b20, #071d3f);
  }
  
  .footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
  }
  